@import "abstracts/variables";

.header {
  margin-bottom: 4.8rem;
}

.nav {
  background-color: $primary-color;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-family: "VT323";
    color: $color-white;
    font-size: 4rem;
    letter-spacing: 5px;
  }
}
