// Colors
$primary-color: #363940;
$color-white: #f8f9fa;
$color-deal: #fa5252;

// Border Radius
$border-radius-default: 5px;

// Transitions
$transition-default: 0.3s all;

// Box Shadows
$box-shadow-default: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
