<li class="deal">
  <a href="{{ deal.open_giveaway_url }}" target="_blank">
    <img
      src="{{ deal.thumbnail }}"
      alt="Thumbnail of {{ deal.title }}"
      class="deal__image"
    />
  </a>
  <div class="deal__details">
    <h3 class="deal__title">{{ deal.title }}</h3>
    <div class="deal__price-box">
      <div class="deal__new-price">FREE</div>
      <div class="deal__old-price">{{ dealOldPrice }}</div>
    </div>
    <p class="deal__description">{{ deal.description }}</p>
  </div>
  <div class="deal__buttons">
    <mat-icon
      aria-hidden="false"
      aria-label="Favorite Icon"
      class="deal__favorite"
      (click)="onFavorite()"
      [ngClass]="isFavorite ? 'favorited' : ''"
      >favorite</mat-icon
    >
    <a class="deal__claim" href="{{ deal.gamerpower_url }}">Claim</a>
  </div>
  <div class="deal__claims">
    <mat-icon class="deal__user">supervised_user_circle</mat-icon
    >{{ deal.users }} claimed this
  </div>
  <div class="deal__published">
    <p class="deal__date">
      Published Date: {{ deal.published_date | date: "short" }}
    </p>
  </div>
</li>
