@import "abstracts/mixins";
@import "abstracts/variables";

.favorite {
  position: relative;
  display: flex;
  width: 35rem;
  height: 10rem;
  color: $color-white;
  transition: $transition-default;

  &__link {
    width: 60%;
    display: block;
    margin: 0;
    padding: 0;
  }

  &__text-box {
    padding: 0.4rem;
    width: 50%;
  }

  &__platforms {
    font-size: 1.2rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &__title {
    margin: 0;
  }

  &__delete {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-25%, -25%) scale(1);
    cursor: pointer;
    transition: $transition-default;

    &:hover {
      transform: translate(-25%, -25%) scale(1.1);
    }
  }

  &:hover {
    background-color: $primary-color-dark;
  }
}
