// Typography System

// *** Font-Size *** (https://type-scale.com/ => Major Third)

// 8 / 10 / 12 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98;

// *** Spacing-System ***

// 2  / 4  / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
